*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.paper{
    width: 100%;
    min-height: 100%;
    background: repeating-linear-gradient(#F1EDE9, #F1EDE9 31px, #94ACD4 31px, #94ACD4 32px);
    font-family: cursive;
    font-size: 22px;
    line-height: 34px;
    outline: 0;
    padding: 175px 50px;
    text-align: center;
}
img{
    width: 75%;
    height: auto;
}

.arrow-1 {
    margin-top: 3rem;
    margin-right: 20rem;
    margin-bottom: 170px;
    width:200px;
    height:35px;
    display: flex;
    float: right;
  }
  .arrow-1:before {
    content: "";
    background: currentColor;
    width:15px;
    clip-path: polygon(0 10px,calc(100% - 15px) 10px,calc(100% - 15px) 0,100% 50%,calc(100% - 15px) 100%,calc(100% - 15px) calc(100% - 10px),0 calc(100% - 10px));
    animation: a1 1.5s infinite linear;
  }
  @keyframes a1 {
    90%,100%{flex-grow: 1}
  }
  .atras{
    transform: rotate(180deg);
    float: left;
    margin-left: 25rem;
  }